<!-- views/partials/head.ejs -->

<meta charset = "UTF-8">
<title> super awesome </title>

<!-- CSS (load bootstrap ffrom CDN)-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body    { padding-top:50px; }
</style>